#grid-container {
	display: grid;
}

.grid-row {
	display: grid;
	grid-template-areas: "img-ship", "ship-desc";
	grid-template-columns: 2fr 5fr;
}

.img-ship {
	grid-area: img-ship;
}

.ship-desc {
	grid-area: ship-desc;
}